ADHD-Kaggle/TEST/TEST_CATEGORICAL.xlsx
ADHD-Kaggle/TEST/TEST_FUNCTIONAL_CONNECTOME_MATRICES.csv
ADHD-Kaggle/TEST/TEST_QUANTITATIVE_METADATA.xlsx
ADHD-Kaggle/TRAIN/TRAIN_CATEGORICAL_METADATA.xlsx
ADHD-Kaggle/TRAIN/TRAIN_FUNCTIONAL_CONNECTOME_MATRICES.csv
ADHD-Kaggle/TRAIN/TRAIN_QUANTITATIVE_METADATA.xlsx
ADHD-Kaggle/TRAIN/TRAINING_SOLUTIONS.xlsx
ADHD-Kaggle/Data Dictionary.xlsx
ADHD-Kaggle/SAMPLE_SUBMISSION.xlsx
